/* Color variables */
$default-color: black;
$color-theme1: rgb(89,86,200);
$color-button-hover: rgb(74, 58, 165);
$color-theme2: rgb(14,214,188);
$color-background: rgb(250,250,250);
$color-body: rgb(208,208,222);
$color-footer: rgb(30,30,30);
$color-mychat: rgb(200,200,228); // Background color of the sending user chat
$color-clientChat: rgb(203,239,234); // Background color of chat of the receiving user

/* Social network colors */
$twitter: #55acee;
$facebook: #3b5998;