/*
 * Variables SCSS
 * This file contains all the variables used through out the website
 */

@use "colors" as *;

 /* Font family related variables */
$font-general-size: 1rem;
$font-general-family: roboto, 'Segoe UI', sans-serif;
$font-general-weight: 400;
$font-general-style: normal;

/* Headings */
$h1-font-size: calc(2rem + 0.3vw);
$h2-font-size: calc(1.5rem + 0.3vw);
$h3-font-size: calc(1.35rem + 0.3vw);
$h4-font-size: calc(1.3rem + 0.1vw);
$h5-font-size: 1.2rem;
$h6-font-size: 1rem;
$headings-font-style: normal;
$headings-line-height: 1.2;
$headings-font-weight: 400;

/* Visual style */
$border-thickness: 2px;
$border-radius: 5px;
$shadow-blur-width: 10px;
$shadow-color: rgba(0,0,0,25%);

// Media query breakpoints
$device-extra-small: 500px;
$device-small: 600px;
$device-medium: 768px;
$device-large: 992px;
$device-semi-large: 1200px; 
$device-extra-large: 1400px;

// Pagination
$pagination-font-size: 1.1em;
$pagination-item-gutter: 15px;
$pagination-color: $color-theme1;
$pagination-border-color: lightgray;

/* Grid template starter */
%grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;
    column-gap: 24px;
}