# Static files
*.env
results.xml
.phpunit.result.cache
cadexsa_db_with_data.sql

# Directories
scripts/*
.vscode/*
node_modules/*
vendor/*
app/logs/*
app/tmp/*
html-coverage/*
app/static/images/profile_pictures/*
app/static/images/articles_thumbnails/*
