# Static files
*.env
results.xml
.phpunit.result.cache

# Directories
vendor/*
scripts/*
.vscode/*
storage/*
node_modules/*
html-coverage/*
resources/temporary/*
public/images/profile_pictures/*
public/images/articles_thumbnails/*
