<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests\bootstrap.php" colors="true">
    <php>
        <server name="DOCUMENT_ROOT" value="C:/Users/User/Desktop/CADEXSA/app" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
            <directory>tests/integration</directory>
            <directory>tests/functional</directory>
        </testsuite>
    </testsuites>
    <coverage pathCoverage="true">
        <include>
            <directory suffix=".php">app/Library</directory>
        </include>
        <exclude>
            <directory>app/library/Database</directory>
            <directory>app/library/Security</directory>
            <file>app/library/Error/Handler.php</file>
            <file>app/library/Autoload/Loader.php</file>
            <file>app/library/PHPMailerAdapter.php</file>
            <file>app/library/Network/WebSocketServer.php</file>
            <file>app/library/CMS/News/DeleteNewsState.php</file>
            <file>app/library/CMS/Events/DeleteEventState.php</file>
            <file>app/library/CMS/Gallery/DeletePictureState.php</file>
            <file>app/library/Membership/MemberBuildDirector.php</file>
        </exclude>
        <report>
            <html outputDirectory="html-coverage" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="results.xml" />
    </logging>
</phpunit>