<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests\bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/integration</directory>
        </testsuite>
    </testsuites>
    <coverage pathCoverage="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <file>app/Domain/DeleteNewsState.php</file>
            <file>app/Domain/DeleteEventState.php</file>
            <file>app/Domain/DeletePictureState.php</file>
            <file>app/Infrastructure/ExceptionHandler.php</file>
            <file>app/Infrastructure/Messaging/Mailer.php</file>
        </exclude>
        <report>
            <html outputDirectory="html-coverage" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="results.xml" />
    </logging>
</phpunit>