@use "../abstracts" as *;

.background-cover {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);

  &.blurred {
    backdrop-filter: blur(1rem);
  }

  #exit {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
    color: white;
  }

  .box {
    width: 90%;
    opacity: 0;
    overflow: hidden;
    position: relative;
    background: white;
    transform: scale(0);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    @include min-responsify($device-medium) {
      width: 70%;
    }

    @include min-responsify($device-large) {
      width: 50%;
    }

    &.open {
      opacity: 1;
      transform: scale(1);
    }

    &.upload-picture {
      &#update_profile_picture {
        height: 80%;
      }

      label {
        text-transform: unset;
      }

      div {
        position: relative;

        button {
          position: absolute;
          right: 30px;

          &#upload_btn {
            position: relative;
            left: calc(100% - 102px);

            @include min-responsify($device-extra-small + 35) {
              position: absolute;
              top: 27%;
              left: unset;
            }
          }
        }

        &#header,
        &#footer {
          width: 100%;
          background-color: white;
          padding: 1rem 2rem;
        }

        &#picture_preview {
          width: 100%;
          height: 73%;
          @include center;
          background-color: lightgray;

          #loading {
            display: inline-block;
          }

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        &#footer {
          position: absolute;
          bottom: 0;

          @include max-responsify($device-mobile) {
            text-align: center;
          }

          input#input_picture {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            & + label {
              display: inline-block;
              padding: 0.5em 1.5em;
              color: white;
              border-radius: 5px;
              background: $color-theme1;
              cursor: pointer;
            }
          }

          #input_text {
            padding-left: 10px;
          }
        }
      }
    }

    &.select-picture {
      div {
        position: relative;

        &#header,
        &#footer {
          width: 100%;
          background-color: white;
          padding: 1rem 2rem;
        }

        &#pictures {
          display: grid;
          grid-auto-flow: dense;
          grid-auto-rows: 200px;
          grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
          grid-template-rows: repeat(2, 200px);

          img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            object-fit: cover;
          }
        }

        &#footer div {
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            label {
              width: 30%;
            }
          }

          &:last-child {
            display: flex;
            margin-top: 0.5rem;
            justify-content: flex-end;

            * {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}
