/*
 * General form input styles
 */

@use "../abstracts" as *;

.form-group {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 1em;
  $width: 5;
  $k: 1;
  @for $i from 1 through 2 {
    > div:nth-child(#{$i}) {
      grid-column: $k / span #{$width};
    }
    $k: $width + $k;
  }
}

.form-control {
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: 0.5s ease-in-out;
  border: 2px solid $color-control-border;

  &:focus-visible {
    border-color: $color-theme1 !important;
  }
}
