/**
 * Hamburger menu SCSS
 */

@use "../abstracts" as *;

%menu-wrapper {
  display: none;
  width: $menu-bar-width;
  height: $menu-bar-height + ($menu-bar-spacing * 2);
  cursor: pointer;

  .menu {
    position: relative;
    width: $menu-bar-width;
    height: $menu-bar-height;
    transform: translateY($menu-bar-spacing);
    border-radius: $border-radius;
    background-color: rgba(0, 0, 0, 1);
    transition: all 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: $menu-bar-width;
      height: $menu-bar-height;
      border-radius: $menu-border-radius;
      background-color: rgba(0, 0, 0, 1);
    }

    &::before {
      bottom: $menu-bar-spacing;
      transition: bottom 0.3s 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    &::after {
      top: $menu-bar-spacing;
      transition: top 0.3s 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    &.open {
      background-color: rgba(0, 0, 0, 0);

      &::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
      }

      &::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
      }
    }
  }
}
