@use "../abstracts" as *;

.news-item {
    position:relative;
    background-color: white;
    transition: all 0.1s ease-out;

    .news-thumb {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;

        > img {
            width: 100%;
            height: auto;
        }
    }

    .news-content {
        padding: 25px;

        h5 {
            margin: 0px 0px 0.7em 0px !important;
        }

        a {
            color: inherit;
        }

        .news-item-footer {
            margin-top: 1.5em;

            @include max-responsify($device-medium) {
                margin-bottom: 30px;
            }

            span {
                color: gray;
                font-size: 0.8rem;
                float: right;
            }

            .news-link {
                color: white;
                padding: 7px 15px;
                border: 2px solid transparent;
                background-color: rgb(89,86,200);
                transition: 0.3s;

                &:hover {
                    color: $color-theme1;
                    background-color: white;
                    border: 2px solid $color-theme1;
                }
            }
        }
    }
}

#news_dir {
    .news-item {
	    border: 1px solid lightgray;

        &:hover {
            border-color: transparent;
            box-shadow: 0 0 20px rgba(0,0,0,25%);
        }
    }
}