/*
 * Sign Up page specific styles
 */

@use "../../abstracts" as *;

#register-body {
  background-color: transparentize($color: $color-theme1, $amount: 0.5);

  header {
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 10%);
  }

  .page-content {
    margin: 1.5rem 0;
  }
}

/* Form grid */
#register-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

fieldset {
  padding: 0.5rem 1.5rem;
  border: 2px solid $color-control-border;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  legend {
    font-size: 1.1rem;
    color: gray;
  }
}

#form-thumbnail {
  display: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 10%);
  background-image: linear-gradient(
      transparentize($color: $color-theme1, $amount: 0.4),
      transparentize($color: $color-theme1, $amount: 0.2)
    ),
    url(/static/images/gallery/img9.jpg);
  background-size: cover;
  background-position-x: 60%;

  @include min-responsify($device-large) {
    grid-column: 1 / span 5;
    display: flex;
  }

  > div {
    width: 80%;
    height: 90%;
    color: white;

    h2 {
      font-size: 3.2em;
      line-height: 1;
      margin-bottom: 1.5rem;
    }
  }
}
