/*
 * Header Logo Section
 */

@use "../../abstracts" as *;

.logo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.logo img {
  width: auto;
  max-height: 30px;

  @include min-responsify($device-small) {
    width: 170px;
    max-height: 60px;
  }
}
