/*
 * Membership Forms Styles
 */

@use "../abstracts" as *;
@use "../components";

/* Sign up form */
#register-form {
  grid-column: 1 / span 12;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 10%);

  @include min-responsify($device-small) {
    padding: 2.5rem 3.125rem;
  }

  @include min-responsify($device-large) {
    grid-column: 6 / span 7;
    border-radius: unset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .form-header {
    margin-bottom: 1.5rem;
  }

  h1 {
    @include max-responsify($device-medium) {
      text-align: center;
    }
  }

  input {
    @extend .form-control;
  }

  .nice-select {
    width: 100%;
  }

  .nice-select .current {
    width: 100%;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    text-transform: capitalize;
    border: 2px solid $color-control-border;
  }

  textarea {
    min-height: 10em;
    @extend .form-control;
  }
}

/* Password Visibility Button */
.password-visibility-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 2.5rem;
  margin: auto;
  border: none;
  display: flex;
  border-radius: 0;
  background: white;
  padding: 0 1em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  i {
    margin: auto;
    color: gray;
    font-size: 1em;
  }

  &:hover {
    background: white;
  }

  &:focus {
    border: none;
  }
}

/* Login form */

#login-form {
  grid-column: 1 / span 12;
  padding: 2.5rem 2.75rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 10%);

  @include min-responsify($device-extra-small) {
    grid-column: 2 / span 10;
  }

  @include min-responsify($device-medium) {
    grid-column: 3 / span 8;
    padding: 2.5rem 3.75rem;
  }

  @include min-responsify($device-large) {
    grid-column: 8 / span 5;
  }

  @include min-responsify($device-extra-large) {
    grid-column: 9 / span 4;
  }

  .form-header {
    padding: 0;
    border: none;
    margin-bottom: 20px !important;
  }

  h2 {
    text-align: left;
  }

  input {
    @extend .form-control;
    padding-left: 2.5em;
  }

  #forgot-pass {
    color: black;
    display: block;
    float: right;
    margin-bottom: 1.2em;
  }

  .form-footer {
    margin-top: 20px;
  }
}

/* Form groupings */

.form-grouping {
  margin-bottom: 1rem;

  div {
    position: relative;

    > i {
      position: absolute;
      top: 0.9rem;
      left: 1.2rem;
      color: gray;
      font-size: 0.9em;
    }

    > div.error {
      margin-top: 0.5em;
    }
  }

  > div.error {
    margin-top: 0.5em;
  }
}

/* Labels */

%label {
  color: gray;
  display: block;
  margin-bottom: 3px;
  cursor: pointer;
}

#register-form label,
#login-form label {
  @extend %label;
}

/* Form footer */

.form-footer {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;

  a {
    color: blue;
  }
}

/* Form messages */
.error {
  margin: 0;
  color: #9a3a43;
  margin-bottom: 0.8em;
  padding: 0.3em 0;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
}

/* Button */
.form-btn {
  width: 100%;
}
