/**
 * Password reset page
 */

@use "../../abstracts" as *;

#password_reset {
  background-color: $primary-theme-color;

  > .ws-container {
    @include center-content;
    margin: 3em auto;
  }

  form {
    margin: 0;
    border-radius: 10px;
    padding: 2.5rem 2.75rem;
    background-color: white;

    h2 {
      text-align: center;
      margin-bottom: 0.5rem;
    }
  }
}
