/*
 * Contact Page styles
 */

@use "../../abstracts/" as *;

#contact-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1.5em;

  @include min-responsify($device-medium) {
    column-gap: 50px;
  }

  > div:last-of-type {
    grid-column: 1 / span 12;
    @include min-responsify($device-medium) {
      grid-column: 10 / span 3;
    }

    p:not(:last-of-type) {
      margin-bottom: 1em;
    }

    a.btn-facebook {
      color: white;
      background-color: $facebook;
    }

    a.btn-twitter {
      color: white;
      background-color: $twitter;
    }

    @include max-responsify($device-medium) {
      p {
        display: inline-block;

        &:not(:last-of-type) {
          margin-right: 1em;
          margin-bottom: 0.5em;
        }
      }
    }
  }

  > div#contact-form {
    grid-column: 1 / span 12;
    @include min-responsify($device-medium) {
      grid-column: 1 / span 9;
    }

    p {
      margin-bottom: 1em;
    }

    label {
      display: block;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    input,
    textarea {
      margin-bottom: 0.75rem;
    }

    textarea {
      height: 10em;
    }

    button {
      width: 100%;
      margin-top: 20px;
      border-radius: 5px;
      padding: 0.5em 0em;
    }
  }
}

#contact_footer {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 60px;
  padding: 50px 0px;
  font-size: 1.1em;
  color: white;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/static/images/gallery/img1.jpg");
  background-size: cover;

  p {
    width: 70%;
    margin: 1.5em auto;
  }

  a {
    color: black;
    background-color: white;
  }
}
