/*
 * Login page specific styles
 */

@use "../../abstracts/" as *;

#login-body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/static/images/gallery/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .page-content {
    margin: 3rem 0px;
  }

  footer #gotop_btn {
    display: none;
  }
}

/* Form grid */
#login-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @include min-responsify($device-large) {
    column-gap: 2.75rem;
  }

  @include min-responsify($device-extra-large) {
    column-gap: 0;
  }
}

#login-thumb {
  display: none;
  color: white;
  align-items: center;
  justify-content: center;

  @include min-responsify($device-large) {
    display: flex;
    grid-column: 1 / span 7;
  }

  #login-thumb-content {
    width: 70%;
    height: 60%;
  }

  h2 {
    font-size: 5em;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-family: Inter-light;
  }

  p {
    font-family: Roboto-light;
    font-size: 1.1em;
    margin: 0;
  }
}
