/**
 * Password Recovery Page
 */

@use "../../abstracts" as *;
@use "../forms";
@use "login";

#password-recovery {
  @extend #login-body;
}

.password-recovery-form-wrapper {
  @include center;

  form {
    @extend #login-form;
    width: 26rem;
    padding: 2.5rem 2.75rem;
    background-color: white;
    border-radius: 10px;

    p {
      margin: -0.5rem 0 0.8rem;

      &.form-footer {
        margin-bottom: 0;
      }
    }
  }
}
