/*
 * Sign Up page specific styles
 */

@use "../../abstracts" as *;

#register-body {
  background-color: whitesmoke;

  header {
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 10%);
  }

  .page-content {
    margin: 1.5rem 0;
  }

  footer #gotop_btn {
    @include max-responsify($device-extra-large) {
      right: -55px;
    }
  }
}

/* Form grid */
#register-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#form-thumbnail {
  display: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 10%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/static/images/gallery/img3.jpg);
  background-size: cover;
  background-position-x: 60%;

  @include min-responsify($device-large) {
    grid-column: 8 / span 5;
    display: flex;
  }

  > div {
    width: 80%;
    height: 90%;
    color: white;

    h2 {
      font-size: 3em;
    }
  }
}
