/*
 * Helpers SCSS
 * Mixins and Functions
 */

 /* Mixin dedicated to headings */
@mixin font($font-family, $font-size) {
    font: {
        family: $font-family;
        size: $font-size;
    }
}

/* Centering element(s) */
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media queries */
@mixin min-responsify($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content; 
    }
}

@mixin max-responsify($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content; 
    }
}

@mixin range-responsify($breakpoint1, $breakpoint2) {
    @media screen and (min-width: $breakpoint1) and (max-width: $breakpoint2) {
        @content; 
    }
}
