/* Color variables */
$default-color: black;
$primary-theme-color: steelblue;
$button-hover-color: rgb(90, 150, 200);
$secondary-theme-color: rgb(14, 214, 188);
$background-color: rgb(250, 250, 250);
$body-color: rgb(208, 208, 222);
$footer-color: rgb(30, 30, 30);
$sent-message-color: rgb(200, 200, 228);
$received-message-color: rgb(203, 239, 234);
$control-border-color: rgb(206, 212, 218);
$twitter-color: #55acee;
$facebook-color: #3b5998;
