/*
 * Header of section home pages
 */

@use "../abstracts" as *;

.page-header {
  z-index: 1;
  color: white;
  padding: 30px;
  position: relative;
  background-image: linear-gradient(
      rgba(70, 130, 180, 0.8),
      rgba(70, 130, 180, 0.8)
    ),
    url("/static/images/gallery/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 32%;

  h1 {
    margin: 0;
    text-align: center;
    font-family: Roboto;
  }

  &#contact-header {
    z-index: 1;
    padding: 50px 0px 60px 0px;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);

    > div:first-of-type {
      position: relative;
      animation: slide_in 0.5s;

      h2 {
        margin-bottom: 0.5em;
      }

      p {
        font-size: 1em;
        margin: auto;

        @include min-responsify($device-large) {
          width: 50%;
        }
      }
    }

    @include max-responsify($device-small) {
      p {
        font-size: 0.9em;
      }
    }
  }

  & + div {
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
  }
}
