/*
 * Website Animation definitions
 */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
		opacity: 1;
    }
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes slidein {
	from {
		top: -100%;
	}
	to {
		top: 0;
	}
}

.slidein {
	animation: slidein 0.5s;
}

@keyframes expand {
	from {
		height: 0;
		overflow: hidden;
	}
	to {
		height: auto;
	}
}

@keyframes shrink {
	to {
		height: 0;
		overflow: hidden;
	}
}