/*
 * Grid system
 */

 /* Containers */
@use "../abstracts" as *;
@use "sass:math";

.ws-container {
    width: 100%;
    margin: auto;

    @include max-responsify($device-small) {
        padding: 0 0.75rem;
    }
    @include min-responsify($device-small) {
        max-width: 540px;
    }
    @include min-responsify($device-medium) {
        max-width: 720px;
    }
    @include min-responsify($device-large) {
        max-width: 960px;
    }
    @include min-responsify($device-semi-large) {
        max-width: 1140px;
    }
    @include min-responsify($device-extra-large) {
        max-width: 1320px;
    }
}

// Header Grid styles
.header-grid-container {
    @extend %grid-container;

    @include max-responsify($device-large) {
        position: relative;
        grid-template-rows: 60px;
    }

    // Logo item
    > div:nth-child(1) {
        grid-column: 1 / span 4;
        @include max-responsify($device-small) {
            grid-column: 1 / span 11;
        }
    }

    // Navigation item
    > div:nth-child(2) {
        display: none;
        @include min-responsify($device-large) {
            display: block;
            grid-column: 5 / span 8;
        }
    }

    // Mobile navigation button
    > div:nth-child(3) {
        display: block;
        grid-column: 11 / 13;
        @include min-responsify($device-large) {
            display: none; 
        }
    }

    // Mobile navigation
    > div:nth-child(4) {
        display: block;
        grid-column: 1 / span 12;
        @include min-responsify($device-large) {
            display: none; 
        }
    }
}

// Footer Grid Styles
.footer-grid-container {
    @extend %grid-container;
    row-gap: 10px;

    > div:nth-child(1) {
        grid-column: 1 / span 12;
        margin-bottom: 20px;
        @include min-responsify($device-large) {
            grid-column: 1 / span 3;
            margin: 0;
        }
    }
    > div:nth-child(2) {
        grid-column: 1 / span 12;
        @include min-responsify($device-extra-small) {
            grid-column: 1 / span 6;
            margin: 0;
        }
        @include min-responsify($device-large) {
            grid-column: 4 / span 3;
        }
    }
    > div:nth-child(3) {
        grid-column: 1 / span 12;
        @include min-responsify($device-extra-small) {
            grid-column: 7 / span 6;
            margin: 0;
        }
        @include min-responsify($device-large) {
            grid-column: 7 / span 2;
        }
    }
    > div:nth-child(4) {
        grid-column: 1 / span 12;
        @include min-responsify($device-extra-small) {
            grid-column: 1 / span 6;
            margin: 0;
        }
        @include min-responsify($device-large) {
            grid-column: 9 / span 2;
        }
    }
    > div:nth-child(5) {
        grid-column: 1 / span 12;
        @include min-responsify($device-extra-small) {
            grid-column: 7 / span 6;
            margin: 0;
        }
        @include min-responsify($device-large) {
            grid-column: 11 / span 2;
        }
    }
}

// Sub headline Grid
.subhead-grid-container {
    @extend %grid-container;
    row-gap: 15px;

    $j:1; $k:1; $width: math.div(12, 3);
    @for $i from 1 through 4 
    {
        > div:nth-child(#{$i}) {
            @if ($i > 1) {
                grid-column: 1 / span 12;

                @if (($i % 2) == 0) { $k:1; }
                @include min-responsify($device-medium) {
                    grid-column: $k / span 6;
                } 
                @include min-responsify($device-large) {
                    grid-column: $j / span #{$width};
                }
            }
            @else { grid-column: 1 / span 12; }
            text-align: center;
        }
        @if ($i > 1) { $j: ($j + $width); $k: ($k + 6); }
    }
}

// News Section Homepage Articles Grid
.news-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 24px;
}

// Article Page Grid (Content-Aside Grid)
.cs-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;

    @include min-responsify($device-small) {
        column-gap: 50px;
    }

    > div:first-child {
        grid-column: 1 / span 12;
        @include min-responsify($device-large) {
            grid-column: 1 / span 8;
        }
    }

    > aside {
        grid-column: 1 / span 12;
        @include min-responsify($device-large) {
            grid-column: 9 / span 4;
        }
    }
} 

// Home Page Event Carousel Grid
.event-grid-container {
    @extend %grid-container;

    > div:nth-child(1) {
        grid-column: 1 / span 12;
        @include min-responsify($device-small) {
            grid-column: 1 / span 6;
        }
    }

    > div:nth-child(2) {
        grid-column: 1 / span 12;
        @include min-responsify($device-small) {
            grid-column: 8 / span 5;
        }
    }
}