/*
 * Page Loader Component
 */

@use "../abstracts" as *;

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(255,255,255,0.8);

    > div {
        width: 20%;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;

        > .spinner {
            border: 5px solid gray;
            border-radius: 50%;
            border-top: 5px solid transparent;
            width: 70px;
            height: 70px;
            margin: 0px auto;
            @include spin();
        }
    }
}

