@use "../../abstracts/" as *;

#cms-picture-uploader {
  background-color: whitesmoke;

  .error_msg {
    display: block;
    position: relative;
    top: 1.5rem;
    text-align: center;
    padding: 0.3rem 1rem;
    background: #deb887;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
  }

  #upload-wrapper {
    margin: 3rem 0 5rem;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 10%);

    #header {
      padding: 1.5rem 3rem 1rem;
      border-bottom: 1px solid lightgray;

      h3 {
        margin: 0;
        text-align: center;
      }
    }

    #content {
      padding: 2.5rem 3rem 3rem;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 2rem;

      @include max-responsify($device-large) {
        row-gap: 2rem;
        padding: 1rem;
        column-gap: unset;
      }

      > div {
        &:first-child {
          grid-column: 1 / span 12;

          @include min-responsify($device-large) {
            grid-column: 1 / span 7;
          }

          #dropbox {
            height: 20rem;
            overflow: hidden;
            background-color: whitesmoke;
            border: 2px dashed $color-control-border;
            @include center;
            
            @include min-responsify($device-extra-small) {
              height: 25rem;
            }

            @include min-responsify($device-large) {
              height: 100%;
            }

            > img {
              max-height: 100%;
            }
          }
        }

        &:nth-child(2) {
          grid-column: 1 / span 12;

          @include min-responsify($device-large) {
            grid-column: 8 / span 5;
          }

          h6 {
            margin-bottom: 2.5vw;
            padding-bottom: 0.5rem;
            position: relative;
            border-bottom: 5px solid $color-control-border;

            &::after {
              content: "";
              width: 9rem;
              height: 5px;
              position: absolute;
              left: 0;
              bottom: -5px;
              background-color: $color-theme1;
            }
          }

          label {
            display: inline-block;
            margin-bottom: 0.4rem;
            font-family: Inter-semiBold;
          }

          textarea {
            resize: none;
            height: 20rem;
            border-radius: 0;
          }

          .form-grouping:last-child {
            margin: 2.5vw 0 0;

            button:first-child {
              padding: 0.6rem 3rem;
            }

            button:last-child {
              color: black;
              background: white;
              padding-top: 0.6rem;
              padding-bottom: 0.6rem;
            }
          }
        }
      }
    }
  }
}
